<!DOCTYPE HTML>

<html>

<head>

<meta charset="utf-8">

<!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit -->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=0.1,initial-scale=0.1, maximum-scale=0.1,user-scalable=0">

<!--[if IE 8]><meta http-equiv="refresh" content="2; url=index_ie8.html">  <![endif]-->

<title></title>

<meta name="keywords" content="绿地海湾">

<meta name="description" content="绿地海湾">

<link rel="stylesheet" type="text/css" href="Public/Home/css/style.css"/>
  <script src="Public/Home/lib/es5-sham.min.js"></script>
  <script src="Public/Home/lib/html5shiv.min.js"></script>
  <script src="Public/Home/lib/json2.js"></script>
<script>
  var _hmt = _hmt || [];
  (function() {
      var hm = document.createElement("script");

      hm.src = "https://hm.baidu.com/hm.js?0eb43ffe9bff00972ad63bd66401bc8a";

      var s = document.getElementsByTagName("script")[0];

      s.parentNode.insertBefore(hm, s);

  })();
</script>
  <script src="Public/Home/js/vue.2.5.16.min.js"></script>
  <style>
    .isShow {
      display: block !important;
    }
    .hidden {
      display: none !important;
    }
  </style>
</head>

<body>
<div id="vue-init" class="box" style="display: none;" v-show="showContent">
  <header>
    <div class="container over">

      <div class="headLogo left"> <a href="">

        <ul>

          <li class="logoTit">{{info.hiName}}</li>

          <li class="logoTxt" v-show="headerInfo.length"> <span>{{ headerInfo[0] }}</span> <small>{{ headerInfo[1] }}</small> </li>

        </ul>

        </a> </div>

      <div class="headRight right">

        <dl>

          <dt><img src="Public/Home/images/telLog.png"/></dt>

          <dd> <small>免费服务热线：</small> <strong>{{info.hiHotLine}}</strong> </dd>

        </dl>
      </div>
    </div>
  </header>
  <nav>

    <div class="container">

      <li class="active"><a href="#he">首页</a></li>

      <li><a href="#a">项目优势</a></li>

      <li><a href="#b">项目介绍</a></li>

      <li><a href="#c">投资潜力</a></li>

      <li><a href="#t">专业服务</a></li>

      <li><a href="#q">预约看房</a></li>

      <li><a href="#y">联系我们</a></li>

    </div>

  </nav>
  <div class="banner">

    <div class="flexslider">

      <ul class="slides">

        <li v-for="item in info.logos"><img :src="item"></li>


      </ul>

    </div>

  </div>
  <div class="content">
    <div class="section section1" v-if="detail['0']" :id="detail['0'].chart | getChar">

      <div class="container">

        <div class="tit">
          <small>Project Benefits</small>

          <h2>{{detail['0'].title}}</h2>

          <img src="Public/Home/images/titBg.png"/> </div>

        <div class="txt sec1Txt ">

          <dl v-for="item in detail['0'].list">

            <dt style="width: 386px;height: 260px;overflow: hidden;"><img style="display:inline-block;width: 386px;height: 260px;" v-if="item.url" :src="item.url"/></dt>
            <a>
            <dd> <em></em>

              <div>

                <h3>{{info.hiName}}</h3>

                <P>{{item.tips}}</P>

                <div class="more"> <span>了解更多</span> </div>

              </div>

            </dd>

            </a>

          </dl>

        </div>

      </div>
    </div>

    <div v-if="detail['1']" class="section section2" :id="detail['1'].chart | getChar">

      <div class="tit">
        <small>Project Introduction</small>

        <h2>项目介绍</h2>

        <ul>

          <li :class="{active:checkStatus === 1}" @click="toggleCheckStatus(1)">周边环境</li>

          <li :class="{active:checkStatus === 2}" @click="toggleCheckStatus(2)">交通规划</li>

          <a href="" target="_blank"><li :class="{active:checkStatus === 3}" @click="toggleCheckStatus(3)">更多咨询</li></a>

        </ul>

      </div>

      <div class="txt sec1Txt sec2Txt">

        <div :class="{ isShow:checkStatus === 1,hidden: checkStatus !== 1}" >
          <dl v-for="item in detail['1'].list">

            <a href="" target="_blank">

            <dt><img :src="item.url"/></dt>

            <dd> <em></em>

              <div>
                <h3>{{info.hiName}}</h3>

                <P>{{item.tips}}</P>

                <div class="more"> <span>了解更多</span> </div>
              </div>
            </dd>
            </a>
          </dl>
        </div>
        <div :class="{ isShow:checkStatus === 2,hidden: checkStatus !== 2}" >
          <dl v-for="item in detail['2'].list">

            <a href="" target="_blank">

              <dt><img :src="item.url"/></dt>

              <dd> <em></em>
                <div>

                  <h3>{{info.hiName}}</h3>

                  <P>{{item.tips}}</P>

                  <div class="more"> <span>了解更多</span> </div>

                </div>
              </dd>
            </a>
          </dl>
        </div>

      </div>

    </div>

    <div class="section section1" v-if="detail['3']" :id="detail['3'].chart | getChar">

      <div class="container">

        <div class="tit"> <small>Project Benefits</small>
          <h2>样板户型</h2>

          <img src="Public/Home/images/titBg.png"> </div>

        <div class="txt sec1Txt">

          <dl v-if="detail['3']" v-for="item in detail['3'].list">

            <a href="" target="_blank">

              <dt style="width: 386px;height: 260px;overflow: hidden;"><img style="width: 386px;height: 260px;" :src="item.url"></dt>

              <dd> <em></em>

                <div>

                  <h3>{{info.hiName}}}</h3>

                  <p>{{item.tips}}</p>

                  <div class="more"> <span>了解更多</span> </div>

                </div>

              </dd>

            </a>

          </dl>

        </div>

      </div>

    </div>

    <div v-if="detail['4']" class="section section3" id="c">

      <div class="tit"> <small>Peripheral support</small>

        <h2>投资潜力</h2>

        <img src="Public/Home/images/titBg.png"/> </div>

      <div class="txt sec3Txt">

        <div class="container over">

          <dl v-if="detail['4']" v-for="item in detail['4'].list">

            <a href="" target="_blank">

            <dt><img src="Public/Home/images/zhoubian1.png"><img src="Public/Home/images/zhoubian1_1.png"></dt>

            <dd>

              <h3>{{item.tips}}</h3>

              <p>{{item.desc}}</p>

              <span></span> </dd>

            </a>

          </dl>

        </div>

        <div class="containers">

          <div class="txt"> <img src="Public/Home/images/q.jpg"/> <a href="" target="_blank">

            <div class="txtMdiv1"> <em></em>

              <div class="txtMdiv1s">

                <h3>环上海所有区域当中，这里是单价低、首付低</h3>

                <p>总价低、规模大、品质高的生态样板小镇</p>

                <span></span>

                <p><span>免费服务热线：</span><strong>400-1799-781</strong></p>

                <div class="zixun"> <span>立即咨询</span> </div>

              </div>

            </div>

            </a> </div>

        </div>

      </div>

    </div>

    <div class="section section4" id="t">

      <div class="container">

        <div class="tit"> <small>professional service</small>

          <h2>专业服务</h2>

          <img src="Public/Home/images/titBg.png"/> </div>

        <div class="txt sec4Txt">

          <dl>

            <a href="https://ryak66.kuaishang.cn/bs/im.htm?cas=58222___929507&fi=68990" target="_blank">

            <dt><img src="Public/Home/images/fuwuImg1.jpg"/></dt>

            <dd> <em></em>

              <div> <span>01</span>

                <div>

                  <h3>预约</h3>

                  <p>购买更多优惠价格可以享受，
我们省了一笔中介费。房子当然更优惠。。</p>

                  <span></span> </div>

              </div>

            </dd>

            </a>

          </dl>

          <dl>

            <a href="https://ryak66.kuaishang.cn/bs/im.htm?cas=58222___929507&fi=68990" target="_blank">

            <dt><img src="Public/Home/images/fuwuImg2.jpg"/></dt>

            <dd> <em></em>

              <div> <span>02</span>

                <div>

                  <h3>好房源等于高价值</h3>

                  <p>我们会优先帮你抢到抢手的优质房源，
哪怕别人买不到，我们能帮您买到。
好房子省到就是赚到!</p>

                  <span></span> </div>

              </div>

            </dd>

            </a>

          </dl>

          <dl>

            <a href="https://ryak66.kuaishang.cn/bs/im.htm?cas=58222___929507&fi=68990" target="_blank">

            <dt><img src="Public/Home/images/fuwuImg3.jpg"/></dt>

            <dd> <em></em>

              <div> <span>03</span>

                <div>

                  <h3>服务</h3>

                  <p>买房缺首付?手头紧张?贷款有问题?
别担心，我们都有办法帮您解决!
只要您想买房，我们会全力以赴帮您解决!
并且我们会全程跟踪，服务到底，任何问题都可以找我们。</p>

                  <span></span> </div>

              </div>

            </dd>

            </a>

          </dl>

        </div>

      </div>

    </div>

    <div class="section section5" id="q">

      <div class="container">

        <div class="tit"> <small>Book a shuttle bus</small>

          <h2>预约看房</h2>

          <img src="Public/Home/images/titBg2.png"/> </div>

        <a href="https://ryak66.kuaishang.cn/bs/im.htm?cas=58222___929507&fi=68990" target="_blank">

        <div class="txt sec5Txt">

          <dl>

            <dt><img src="Public/Home/images/banche.jpg"/></dt>

            <dd class="over">

              <div class="left"> <em></em>

                <div>

                  <p>因班车有限，提前预约可享受班车接送以及有限派车服务；<br/>

                    非本地自驾客户提前预约可提供一对一专属服务，预留停车位!<br/>

                    <strong></strong><br/></p>
       
                  <p><span>预约看房热线：</span><strong>400-1799-781</strong></p>

                  <div class="yuyue"> <span>立即预约</span> </div>

                </div>

              </div>



            </dd>

          </dl>

        </div>

        </a> </div>

    </div>

    <div class="section section6" id="y">

      <div class="container">

        <div class="secTit">
          <h2>联系我们</h2>

        </div>

        <div class="txt sec6Txt over">

          <div class="over">

            <dl>

              <dt><img src="Public/Home/images/teLogo.png"/></dt>

              <dd> <span>电话：</span> <strong>{{info.hiHotLine}}</strong> </dd>

            </dl>

            <dl>

              <dt><img style="width: 100px;" :src="info.qrCode"/></dt>

              <dd> <span>扫一扫</span> <span>联系客服经理</span> </dd>

            </dl>

          </div>

          <div>

            <ul>

              <li><a href="https://ryak66.kuaishang.cn/bs/im.htm?cas=58222___929507&fi=68990" target="_blank">立即咨询</a></li>

            </ul>

          </div>

        </div>

      </div>

    </div>
  </div>

  <footer>

    <ul>

      <li class="active"><a href="#he">首页</a></li>

      <li><a href="#a">项目优势</a></li>

      <li><a href="#b">项目介绍</a></li>

      <li><a href="#c">投资潜力</a></li>

      <li><a href="#t">专业服务</a></li>

      <li><a href="#q">预约看房</a></li>

      <li><a href="#y">联系我们</a></li>

    </ul>

    <div class="bq">

      <p>版权所有©2018 上海德旭房地产经纪有限公司 沪ICP备18023790号</p>

    </div>

    <div class="foot active" style="height: auto"> <span><img src="Public/Home/images/fyImg.jpg"/></span>

      <div>
        <div class="container">
          <div> 
            <!-- 底部人的图片 -->>
            <span><img src="Public/Home/images/footR.png"/></span>

            <div class="mDiv">

              <div class="over">

                <div class="foot1">

                  <p>在线智能获取房源信息</p>

                  <p>输入<span>手机号</span>和想要了解的<span>户型</span>获取详细介绍<br/>

                    透彻了解您想要户型的优惠详情</p>

                </div>

                <div class="foot2">

                  <p>今日已有<span>106</span>人免费获取到想要户型的信息</p>

                  <form class="info_form" name="info_form">

                    <div>

                      <label>户型：</label>

                      <input type="text" name="shi">

                      <span>室</span>

                      <input type="text" name="ting">

                      <span>厅</span>

                      <input type="text" name="wei">

                      <span>卫</span> </div>

                    <div>

                      <label>手机号： </label>

                      <input type="tel" name="tel">

                    </div>

                    <div>

                      <input type="button" onclick="message()" value="免费获取" name="">

                    </div>

                  </form>

                </div>

              </div>

              <small><img src="Public/Home/images/footXx.png"/></small>
            </div>
          </div>

        </div>

      </div>

    </div>

  </footer>

</div>

<script type="text/javascript" src="Public/Home/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="Public/Home/js/jquerys.js"></script>
<script type="text/javascript" src="Public/Home/js/jquery.flexslide-min.js"></script>
<script type="text/javascript">
  function getUrlParmas(wordKey) {
      var searchParams = {}
      var a = location.href.split('?')
      if (a.length > 0) {
       searchParams =a[1].split('&')
           .reduce(function(params,item,idx){
               var its = item.split('=')
               var key = its[0]
               var value = its[1]
               params[key] = value
               return params
            },{})
      }
      return searchParams[wordKey] || ''
  }
  Vue.filter('getChar', function (idx) {
      if (!idx) {
          return ''
      }
      return String.fromCharCode(idx)
  })
  window.projectDetail = new Vue({
      el:'#vue-init',
      data:function() {
          return {
              showContent:false,
              detail:{},
              checkStatus: 1,
              info: {},
              headerInfo:''
          }
      },
      created:function(){
          this.init()
      },
      methods:{
          init:function(){
              var id = getUrlParmas('id')
              var _self = this
              $.ajax({
                  url:'http://www.dexudichan.com/newHouse/queryById?id='+id,
                  type:'get',
                  dataType:'json',
                  success:function(response){
                      if (response.status === 200) {
                          if (response.data.detail.length) {
                              _self.detail = response.data.detail.sort(function (o1, o2) {
                                  var sort = 0
                                  if (o1.type > o2.type) {
                                      sort = 1
                                  } else if (o1.type < o2.type) {
                                      sort = -1
                                  }
                                  return sort
                              }).reduce(function (detail, item, idx) {
                                  if (!detail[item.type]) {
                                      detail[item.type] = {
                                          list: [],
                                          title: ''
                                      }
                                  }
                                  if (detail[item.type]) {
                                      detail[item.type].chart = 97
                                      detail[item.type].chart += item.type
                                      detail[item.type].title = item.title
                                      detail[item.type].list.push(item)
                                  }
                                  return detail
                              }, {});
                          }
                          _self.info = response.data
                          if (_self.info.hiDesc) {
                              _self.headerInfo = _self.info.hiDesc.split('||')
                          }
                          if (_self.info.hiLogo ) {
                              _self.info.logos =  _self.info.hiLogo.split(',')
                          }

                          _self.showContent = true
                          _self.$nextTick(function () {
                              document.querySelector('title').innerHTML = _self.info.hiName
                              Array.prototype.slice.call($("a")).map(function(item){
                                  var href = $(item).attr('href')
                                  if (/^#/.test(href)){
                                      return false
                                  }
                                  var url = 'http://p.qiao.baidu.com/cps2/chatIndex?'
                                  var reqParam = 'reqParam={"from":0,"sessionid":"","siteId":"12207321","tid":"-1","userId":"25810736","ttype":1,"siteConfig":{"wsUrl":"ws://p.qiao.baidu.com/websocket","eid":"25810736","queuing":"","siteId":"12207321","online":"true","webRoot":"//p.qiao.baidu.com/cps2/","bid":"154072944824779730","userId":"25810736","isGray":"false","invited":0},"config":{"themeColor":"4d74fa"}}'
                                  $(item).attr('href',url + reqParam)
                              })
                              $('.flexslider').flexslider({

                                  directionNav: true,

                                  pauseOnAction: false

                              });
                          })
                      }
                  }
              })
          },
          toggleCheckStatus:function (idx){
            this.checkStatus = idx
          }
      }
  })


</script>
<script>
     $(function(){
		 $('a[href*=#],area[href*=#]').click(function() {
			 if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
			     var $target = $(this.hash);
			     $target = $target.length && $target || $('[name=' + this.hash.slice(1) + ']');
			     if ($target.length) {
			         var targetOffset = $target.offset().top;
			         $('html,body').animate({
                         scrollTop: targetOffset
                     },
              1000);
			         return false;
			     }
			 }
		 });
     });
     function message(){
         var data = $('.info_form').serialize();
         $.ajax({
             url:'http://www.dexudichan.com/userRequire/collectUserRequire.do',
             data:data,
             type:'POST',
             dataType:'JSON',
             success:function(data){
                 if(data.status > 0){
                     alert(data.info);
                 }else{
                     alert("恭喜您获取房源信息");
                     location.reload();
                 }
             }
         })
     }
</script>
</body>
</html>