<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<table class="easyui-datagrid" id="userRequireList" title="用户需求信息"
       data-options="singleSelect:false,collapsible:true,pagination:true,url:'/userRequire/query',method:'get',pageSize:20">
    <thead>
    <tr>
        <th data-options="field:'id',width:60">需求ID</th>
        <th data-options="field:'mobileNumber',width:120">用户电话</th>
        <th data-options="field:'hiRequireHouseType',width:120">所需户型类型</th>
        <th data-options="field:'hiCreateDate',width:130,align:'center',formatter:KindEditorUtil.formatDateTime">创建日期</th>
        <th data-options="field:'hiUpdateDate',width:130,align:'center',formatter:KindEditorUtil.formatDateTime">更新日期</th>
    </tr>
    </thead>
</table>
<script>
</script>
</body>
</html>
