<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div style="padding:10px 10px 10px 10px">
    <form id="houseAddForm" class="houseForm" method="post">
        <table cellpadding="5">
            <tr>
                <td>楼盘名称:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiName" data-options="required:true"
                           style="width: 150px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘均价:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiAvgPrice" data-options="required:true"
                           style="width: 150px;"/>
                </td>
            </tr>

            <tr>
                <td>首付:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiDownPayment" data-options="required:true"
                           style="width: 150px;"/>
                </td>
            </tr>

            <tr>
                <td>开盘时间:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiOpenTime" data-options="required:true"
                           style="width: 150px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘联排:</td>
                <td>
                    <input class="easyui-numberbox" type="text" th:name="hiAttache"
                           data-options="min:1,max:99999999,precision:2,required:true" style="width: 100px"/>&nbsp;&nbsp;平方米
                </td>
            </tr>

            <tr>
                <td>楼盘绿化:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiAfforestation" data-options="required:true"
                           style="width: 80px;"/>
                </td>
            </tr>


            <tr>
                <td>楼盘装修:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiDecorate" data-options="required:true"
                           style="width: 80px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘位置:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiAddress" data-options="required:true"
                           style="width: 80px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘车位:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiParkPlace" data-options="required:true"
                           style="width: 80px;"/>
                </td>
            </tr>


            <tr>
                <td>楼盘容积率:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiPlotRatio" data-options="required:true"
                           style="width: 100px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘物业类别:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiCategory" data-options="required:true"
                           style="width: 100px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘产权年限:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiYear" data-options="required:true"
                           style="width: 100px;"/>
                </td>
            </tr>


            <tr>
                <td>楼盘物业费:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiManagementFee" data-options="required:true"
                           style="width: 280px;"/>
                </td>
            </tr>


            <tr>
                <td>楼盘得房率:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiConstructionRatio" data-options="required:true"
                           style="width: 280px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘建筑类型:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiType" data-options="required:true"
                           style="width: 280px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘建筑面积:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiAcreage" data-options="required:true"
                           style="width: 280px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘交房时间:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiDeliveryTime" data-options="required:true"
                           style="width: 280px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘开发商:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiDeveloper" data-options="required:true"
                           style="width: 280px;"/>
                </td>
            </tr>

            <tr>
                <td>楼盘LOGO:</td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton hiLogoFileUpload">上传楼盘LOGO</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiLogo"/>
                </td>
            </tr>

            <tr>
                <td>楼盘展示图片:</td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton hiShowPicFileUpload">上传楼盘展示图片</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiShowPic"/>
                </td>
            </tr>

            <!-- 项目特色-->
            <tr>
                <td>项目特色图片:</td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton hiProjectFeaturesPicFileUpload"
                       id="hiProjectFeaturesPicFileUpload">上传项目特色图片</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiProjectFeaturesPic"/>
                </td>
            </tr>
            <tr>
                <td>项目特色描述:</td>
                <td>
                    <textarea th:name="hiProjectFeaturesDesc" cols="60" rows="20" warp="virtual" maxlength="500"
                              class="easyui-validatebox" required="true"></textarea>
                </td>
            </tr>

            <!-- 楼盘优势-->
            <tr>
                <td>楼盘优势图片:</td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton hiSuperiorityPicFileUpload"
                       id="hiSuperiorityPicFileUpload">上传楼盘优势图片</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiSuperiorityPic"/>
                </td>
            </tr>

            <tr>
                <td>楼盘优势描述:</td>
                <td>
                    <textarea th:name="hiSuperiorityDesc" cols="60" rows="20" warp="virtual" maxlength="500"
                              class="easyui-validatebox" required="true"></textarea>
                </td>
            </tr>

            <!-- 区域显著 -->
            <tr>
                <td>区域显著图片:</td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton hiRegionalSignificancePicFileUpload"
                       id="hiRegionalSignificancePicFileUpload">上传区域显著图片</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiRegionalSignificancePic"/>
                </td>
            </tr>
            <tr>
                <td>区域显著描述:</td>
                <td>
                    <textarea th:name="hiRegionalSignificanceDesc" cols="60" rows="20" warp="virtual" maxlength="500"
                              class="easyui-validatebox" required="true"></textarea>
                </td>
            </tr>

            <!-- 周边配套 -->
            <tr>
                <td>楼盘周边图片:</td>
                <td>
                    <!-- 最多是上传三张图片-->
                    <a href="javascript:void(0)" class="easyui-linkbutton hiPeripheralMatchingPicFileUpload"
                       id="hiPeripheralMatchingPicFileUpload">上传楼盘周边图片</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiPeripheralMatchingPic"/>
                </td>
            </tr>

            <tr>
                <td>楼盘周边图片描述:</td>
                <td>
                    <textarea th:name="hiPeripheralMatchingDesc" cols="60" rows="20" warp="virtual" maxlength="500"
                              class="easyui-validatebox" required="true"></textarea>
                </td>
            </tr>

            <!--户型介绍-->
            <tr>
                <td>楼盘户型图片:</td>
                <td>
                    <!-- 最多是上传三张图片-->
                    <a href="javascript:void(0)" class="easyui-linkbutton hiHouseTypePicFileUpload"
                       id="hiHouseTypePicFileUpload">上传楼盘户型图片</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiHouseTypePic"/>
                </td>
            </tr>

            <!--样板房展示-->
            <tr>
                <td>样板房展示图片:</td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton hiModelHousesPicFileUpload"
                       id="hiModelHousesPicFileUpload">上传样板房展示图片</a>
                    <!-- 上传到后台的数据 -->
                    <input type="hidden" name="hiModelHousesPic"/>
                </td>
            </tr>

            <tr>
                <td>样板房展示描述:</td>
                <td>
                    <textarea th:name="hiModelHousesDesc" cols="60" rows="20" warp="virtual" maxlength="500"
                              class="easyui-validatebox" required="true"></textarea>
                </td>
            </tr>


            <tr>
                <td>楼盘温馨提示:</td>
                <td>
                    <textarea th:name="hiReminderContent" cols="60" rows="20" warp="virtual" maxlength="500"
                              class="easyui-validatebox" required="true"></textarea>
                </td>
            </tr>


            <tr>
                <td>楼盘热线:</td>
                <td>
                    <input class="easyui-textbox" type="text" th:name="hiHotLine" data-options="required:true"
                           style="width: 150px;"/>
                </td>
            </tr>
        </table>
    </form>
    <div style="padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
    </div>
</div>
<script type="text/javascript">

    // 初始化
    var itemAddEditor ;
    $(function(){
        // 和form下的desc组件绑定
        itemAddEditor = KindEditorUtil.createEditor("#houseAddForm [name=desc]");
        KindEditorUtil.init({fun: function(node){
                KindEditorUtil.changeItemParam(node, "houseAddForm");
            }});
    });

    function submitForm() {
        // 表单校验
        if (!$('#houseAddForm').form('validate')) {
            $.messager.alert('提示', '表单还未填写完成!');
            return;
        }

        $.post("/house/save", $("#houseAddForm").serialize(), function (data) {
            if (data.status == 200) {
                $.messager.alert('提示', '新增楼盘成功!');
            } else {
                $.messager.alert('提示', data.msg);
            }
        });
    }

    function clearForm() {
        $('#houseAddForm').form('reset');
        itemAddEditor.html('');
    }
</script>
</body>
</html>

